// Clearfix
.clearfix {
  @include clearfix;
}

// Element invisible
.element-invisible,
.is-invisible,
.is-vishidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);  
  &.element-focusable:active,
  &.element-focusable:focus {
    position: static !important;
    clip: auto;
  }
}