// Brand font
 // Usage: @include brand-font();
//
@mixin brand-font() {
	font-family: $brand-font;
	font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin brand-font-alt() {
	font-family: $brand-font-alt;
	font-style: normal;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
 // Usage: @include font-size(1, large);
 // Usage: @include font-size(22);
//
@mixin font-size($size, $keyword: null) {
  @if $keyword {
    font-size: $keyword;
  }
  font-size: #{$size / 16}em;
  font-size: #{$size / 16}rem;    
}

// Brand background/border style
 // Usage: @include brand-box();
//
@mixin brand-box($type: normal) {
	border: 1px solid $white;
	@include border-radius(10px);
	@include single-box-shadow($black, 0, 1px, 5px, 0.14);
	padding: $pad $pad-and-half;
	@if $type == normal {
		background: $white;
	}
}