// Colours
$white: #FFFFFF;
$black: #000000;

$text: #717373;

$brand-client: #47C5EB;
$brand-client-supporting: #0E7797;

$brand-grey: #E1E4E5;
$brand-grey-alt: #D9DCDD;
$brand-grey-light: #F3F3F3;

// Fonts
$brand-font: 'league_gothicregular';
$brand-font-alt: 'petitaboldregular';
$font: Helvetica, Arial, "Bitstream Vera Sans", sans-serif;

// Spaces
$space: 1em;
$space-half: $space/2;
$space-quarter: $space/4;
$space-double: $space*2;

$pad: 1em;
$pad-half: $pad/2;
$pad-quarter: $pad/4;
$pad-three-quarters: ($pad/4)*3;
$pad-and-half: $pad+$pad-half;
$pad-double: $pad*2;

$site-padding: 10px;
$padding: 22px;

// Breakpoints
$bp-xs: 15em;
$bp-s: 20em;
$bp-m: 30em;
$bp-ml: 40em;
$bp-l: 50em;