.item {
	@include clearfix;
	margin: 0 0 $space-and-half;
	&.last {
		margin: 0;
	}
	.item-title,
	> h2 {
		a {
			text-decoration: none;
		}
	}
	.item-image {
		float: right;
		margin: 0 0 $space $space;
		img {
			@include brand-image();
		}
	}
	.item-subtitle {
		color: $brand-client-supporting;
		@include brand-font-alt();
		@include font-size(11);
		margin: 0 0 $space;
	}
}