body {
  background: $brand-grey;
  color: $text;
  font-family: $font;
  font-size: 87.5%; // 0.875em - 14px - We dont use the font-size mixin here as this sets the base font size
  line-height: 1.5;
}

.bg-grad {
	@include background-image(linear-gradient(white, $brand-grey));
	height: 196px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

main {
	@include clearfix;
	@include brand-box();
	h2 {
		border-bottom: 2px solid $brand-client;
		a {
			&,
			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}